@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GRIFTER';
    src: url('../fonts/grifterbold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        font-family: 'GRIFTER', sans-serif;
    }
}